<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="section">
        <div class="scroll1">
          <h1 class="infoh1">Information</h1>
          <p class="infop">
            Biodiversity loss, also called loss of biodiversity, is a decrease
            in biodiversity within a species, an ecosystem, a given geographic
            area, or Earth as a whole. Biodiversity, or biological diversity, is
            a term that refers to the number of genes, species, and individual
            organisms within a given species, and biological communities within
            a defined geographic area, ranging from the smallest ecosystem to
            the global biosphere.
          </p>
        </div>
      </div>
      <div class="section">
        <div class="scroll2">
          <h1 class="probh1">Problem Statement</h1>
          <br />
          <!--       <p class = "probp"> We will be releasing problem statement very soon. Stay in touch. </p> -->
          <p class="probp">
            Loss of biodiversity is an unattended pressing issue. The current
            action plan is not able to handle the problem effectively. We, at
            MEGALITH, expect the prospective participants to suggest some new
            feasible solutions to overcome the increasing loss of biodiversity
            and thereby ensure sustainable development.<br /><br />
            Note:<br /><br />
            1. Presentation with Unique and relevant solutions will be
            prioritized over others<br /><br />
            2. The presentation must include answers to all the questions in the
            PS.<br /><br />
            3. Teams will also be judged on basis of the Involvement of all the
            participants of the team, way of presentation, and time limit.
          </p>
          <br />
        </div>
      </div>

      <div class="section">
        <div class="scroll3">
          <h1 class="ruleh1">Rules</h1>
          <br />
          <p class="rulep">
            ❖ Teams must consist of a minimum of 2 and a maximum of 5
            participants.
          </p>
          <p class="rulep">
            ❖The team must consist of at least one member from the Department of
            Civil Engineering.
          </p>
          <p class="rulep">
            ❖ The event will be conducted in two phases: a. Online submission of
            abstract b. Final presentation by shortlisted teams at IIT Kharagpur
          </p>
          <p class="rulep">
            ❖ Shortlisted teams from the abstract submission round have to
            present their ideas in the form of PowerPoint presentations during
            Megalith 2022 at IIT Kharagpur.
          </p>
          <p class="rulep">
            ❖ The abstract should be submitted with a minimum font size of 11
            and single line spacing and must not exceed 3 pages.
          </p>

          <p class="rulep">
            ❖ The abstract should be supported with valid references.
          </p>

          <p class="rulep">
            ❖ Relevant statistics can be added to support your claim (you may
            add one extra page to include stats, and images and hyperlink them
            wherever required).
          </p>

          <p class="rulep">
            ❖ Time limit for the final presentation is 10 minutes.
          </p>
          <p class="rulep">
            ❖ The decision of judges shall be final and binding.
          </p>
        </div>
      </div>
      <div class="section">
        <div class="scroll4">
          <h1 class="prizh1">Prize</h1>
          <!-- <p class="prizp">TOTAL - 5000</p>
          <p class="prizp">1ST - 2500</p>
          <p class="prizp">2ND - 1500</p>
          <p class="prizp">3RD - 1000</p> -->
          <p class="prizp">Coming Soon</p>
        </div>
      </div>
    </div>
  </body>
</html>
