<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="home.css" />
    <link rel="stylesheet" href="buttons.css" />
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="buttonHide" class="ButtonHide" style="display: block" style="background: none;">
      <div class="container" style="background: none;">
        <div id="continue-btn" class="continue-button" style="background: none;">
          <div class="btn-contain" style="background: none;">
            <button class="btn" style="background: none; box-shadow: none; width: 50vw; top: 38vh;"><x-sign>Walk IN</x-sign></button>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div id="bg-video-div" class="bg-video-wrap" style="display: none">
      <video id="video" src="ajanta(1).mp4" loop muted autoplay style="display: none"></video>
      <nav id="navbarId" class="navbar navbar-expand-custom navbar-mainbg" style="display: none">
        <a class="navbar-brand navbar-logo" href="/">
          <img style="    width: 24.5%;
          padding: 0%;
          margin-left: -2px;
          margin-top: -3px;" src="l.png" alt="logo">
        </a>
        <button
          class="navbar-toggler"
          type="button"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i style="margin-right: 12px;" class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto ">
            <!-- nav nav-tabs add this in the above classes of ul -->
            <div class="hori-selector">
              <div class="left"></div>
              <div class="right"></div>
            </div>
            <li class="nav-item active">
              <a class="nav-link"  href="/"
                >Home</a
              >
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/event" target="_blank"
                >Events</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/workshop" target="_blank"
                >Workshop</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sponsors" target="_blank"
                >Sponsors</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team" target="_blank"
                >Team</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/theme" target="_blank"
                >Theme</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="/signup" target="_blank"
                >Register</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contactus" target="_blank"
                >Contact Us</a
              >
            </li>
          </ul>
        </div>
      </nav>
      <button id="music-button" class="music-btn" style="opacity: 1;">
        <!-- style="background-color: #d6a30d; width: 65px; position: absolute; top: 90%; left: 0; height: 70px; opacity: 1;" -->
        <i class="fas fa-volume-up"></i>
      </button>
      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <div id="first-heading" class="first-heading" style="display: none">
            <img class="logo-image" src="main-logo.png" alt="logo">
            <span id="adivitya" >Advitiya: essence of Ancient india</span>
              <div class="schedule-button">
                <button class="btn" onclick="window.location.href='/commingsoon'">Schedule</button>
                <div class="btn-particles"></div>
              </div>
              <div class="register-button">
                <button class="btn" onclick="window.location.href='/signup'">Register</button>
                <div class="btn-particles"></div>
              </div>
              
            <div class="add-on">
              <h1 style="font-size: 1.5rem;">India's Largest Civil Engineering Fest</h1>
              <h1 style="font-size: 1.5rem;">3rd - 5th March 2023</h1>
              <h1 style="font-size: 1.5rem;">IIT Kharagpur</h1>
            </div>
          </div>
          <div id="second-heading" style="display: none">
             <div class="secondheadingcontent">
              <div class="contentaboutus">
                <h1>About Us</h1>
                <p>MEGALITH IS THE ANNUAL TECHNICAL FEST OF THE DEPARTMENT OF CIVIL ENGINEERING, INDIAN INSTITUTE OF TECHNOLOGY, KHARAGPUR HELD UNDER THE AEGIS OF THE CIVIL ENGINEERING SOCIETY, IIT KHARAGPUR AND THE PATRONAGE OF THE INSTITUTION OF CIVIL ENGINEERS (UK), IIT KHARAGPUR CHAPTER. SINCE ITS INCEPTION IN 2009, MEGALITH HAS CONQUERED A HUGE SUCCESS IN THE FIELD OF ENGINEERING AND CORPORATE SECTOR AND HAS GROWN AS LARGEST CIVIL ENGINEERING TECHNICAL FEST OF INDIA, OFFERING A DIVERSE RANGE OF COMPETITIONS, WORKSHOPS AND GUEST LECTURES.</p>
                <!-- <iframe style="width: 326px; height: 200px;" src="https://www.youtube.com/embed/7NoZcnkLOMc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
                <iframe style="width: 326px; height: 200px;" src="https://www.youtube.com/embed/bnFE0VhbJKM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
              <div class="honeycomb">
               <div class="gallery">
                 <img src="honeybee/image1.jpg" alt="">
                 <img src="honeybee/image2.jpg" alt="">
                 <img src="honeybee/image3.jpg" alt="">
                 <img src="honeybee/image4.jpg" alt="">
                 <img src="honeybee/image5.jpg" alt="">
                 <img src="honeybee/image6.jpg" alt="">
                 <img src="honeybee/image7.jpg" alt="">
               </div>
              </div>
             </div>
          </div>
          <!-- <h1 id="third-heading" >
            YO!!
          </h1> -->
          <div id="buttonHideAfter" class="ButtonHideAfter" style="display: none">
            <div class="container">
              <div id="continue-btn-after" class="continue-button-after">
                <div class="btn-contain">
                  <button class="btn" style="background: none; box-shadow: none; width: 40vw;"><x-sign>Walk IN</x-sign></button>
                  <!-- <div class="btn-particles"></div> -->
                </div>
                </div>
              </div>
            </div>
            <div id="bell-container" class="bell-container" style="display: none">
              <div class = "notification">
                <div class = "notBtn" href = "#">
                  <div class = "number">0</div>
                  <i class="fas fa-bell"></i>
                    <div class = "box">
                      <div>
                        <p>Nothing here to display</p>
                      </div>
                   </div>
                </div>
              </div>
            </div>
            <div id="about-monument" class="about-monument" style="display: none">
              <img src="abc.png" alt="hello">
            </div>
        </div>
        <div class="tab-pane" id="events">
          <h1 style="position: absolute; top: 50%; left: 45%;">Events</h1>
        </div>
        <div class="tab-pane" id="workshop">
          <h1 style="position: absolute; top: 50%; left: 45%;">Workshop</h1>
        </div>
        <div class="tab-pane" id="sponsors">
          <h1 style="position: absolute; top: 50%; left: 45%;">Sponsors</h1>
        </div>
        <div class="tab-pane" id="team">
          <h1 style="position: absolute; top: 50%; left: 45%;">Team</h1>
        </div>
        <div class="tab-pane" id="theme">
          <h1 style="position: absolute; top: 50%; left: 45%;">Theme</h1>
        </div>
        <div class="tab-pane" id="register">
          <h1 style="position: absolute; top: 50%; left: 45%;">Register</h1>
        </div>
        <div class="tab-pane" id="contactUs">
          <h1 style="position: absolute; top: 50%; left: 45%;">Contact Us</h1>
        </div>
      </div>
    </div>
    <audio 
    id="audio" 
    autoplay="autoplay"
    controls="controls"
    loop="loop"
     src="melodyloops-preview-indian-temple-2m30s.mp3"></audio>
    
    <script src="home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
  </body>
</html>

<!-- autoplay hidden controls loop -->
<!-- https://youtube.com/clip/UgkxtNQ6jeRYxiGXf5yMy6AY6s2ZAmtExauN -->
