<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ourteam.css">
    <link rel="stylesheet" href="buttonourteam.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"/>
    <script src="https://kit.fontawesome.com/0d5b5086fb.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body style="scroll-behavior: smooth">
    <video id="backgroundvideo" autoplay muted loop>
        <source src="TajMahal.mp4" type="video/mp4" />
      </video>
    <nav style="position: absolute; z-index: 5; padding: 0%;" class="navbar navbar-expand-custom navbar-mainbg">
        <a class="navbar-brand navbar-logo" href="/">
          <img style="    width: 24.4%; padding: 0%; height: auto;
          margin-left: -1.5px;
          margin-top: -5px;" src="l.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <div class="hori-selector">
              <div class="left"></div>
              <div class="right"></div>
            </div>
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/event">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/workshop">Workshop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sponsors">Sponsors</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/team">Team</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/theme">Theme</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contactus">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="ourteam">
        <div class="leftalign">
            <a href="#hodm"><button class="glow-on-hover hodb">Head of Department</button></a>
            <a href="#vicepresidentm"><button class="glow-on-hover vicepresidentb">Vice-President</button></a>
            <a href="#executivem"><button class="glow-on-hover executiveb">Executive Advisor</button></a>
            <a href="#webm"><button class="glow-on-hover webb">Web Team</button></a>
            <a href="#publicitym"><button class="glow-on-hover publicityb">Publicity Team</button></a>
            <a href="#sponsm"><button style="height: 7vh;" class="glow-on-hover sponsb">Sponsorship and Marketing Team</button></a> 
        </div>
        <div class="rightalign">
            <a href="#chairmanm"><button class="glow-on-hover  chairmanb">Chairman</button></a>
            <a href="#treasurerm"><button class="glow-on-hover treasurerb">Treasurer</button></a>
            <a href="#coordinatorm"><button class="glow-on-hover coordinatorb">Coordinator</button></a>
            <a href="#designm"><button class="glow-on-hover  designb">Design Team</button></a>
            <a href="#eventm"><button class="glow-on-hover eventb">Events Team</button></a>
            <a href="#logisticm"><button class="glow-on-hover logisticb">Logistics Team</button></a>
        </div> 
    </div>
    <div class="teamcontainer">
        <div id="hodm" class=" hodm ">
            <div class="contentname">Head of Department</div>
            <div class="slider">
                <div class="slide cardnew DKbaidya">
                    <img src="top/profdkbaidya.jpg" alt="">
                </div>
            </div>
        </div>
        <div id="chairmanm" class=" chairmanm">
            <div class="contentname">Chairman</div>
            <div class="slider">
                <div class="slide cardnew aniruddhasengupta">
                    <img src="top/profaniruddhasengupta.jpg" alt="">
                </div>
            </div>
        </div>
        <div id="vicepresidentm" class=" vicepresidentm">
            <div class="contentname">Vice-President</div>
            <div class="slider">
                <div class="slide cardnew mihirk">
                    <img src="top/mihir.jpg" alt="">
                </div>
            </div>
        </div>
        <div id="treasurerm" class=" treasurerm">
            <div class="contentname">Treasurer</div>
            <div class="slider">
                <div class="slide cardnew name1">
                    <img src="top/mahendra.jpg" alt="">
                </div>
            </div>
        </div>
        <div id="executivem" class=" executivem">
            <div class="contentname">Executive Advisor</div>
            <div class="slider">
                <div class="slide cardnew name2">
                    <img src="top/ashutosh.jpg" alt="">
                </div>
            </div>
        </div>
        <div id="coordinatorm" class=" coordinatorm">
            <div class="contentname">Coordinator</div>
            <div class="slider">
                <div class="slide-track slide-trackct">
                    <div class="slide cardnew name3">
                        <img src="coordinators/ashokj.jpg" alt="">
                    </div>
                    <div class="slide cardnew name4">
                        <img src="coordinators/ashishps.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name5">
                        <img src="coordinators/anurag.jpg" alt="">   
                    </div>
                    <div class="slide cardnew name6">
                        <img src="coordinators/rakshity.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name7">
                        <img src="coordinators/anantp.jpg" alt="">
                    </div>
                    <div class="slide cardnew name8">
                        <img src="coordinators/satyakib.jpg" alt="">
                    </div>
        
        
                    <!-- ================================================ -->
        
                    <div class="slide cardnew name3">
                        <img src="coordinators/ashokj.jpg" alt="">
                    </div>
                    <div class="slide cardnew name4">
                        <img src="coordinators/ashishps.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name5">
                        <img src="coordinators/anurag.jpg" alt="">   
                    </div>
                    <div class="slide cardnew name6">
                        <img src="coordinators/rakshity.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name7">
                        <img src="coordinators/anantp.jpg" alt="">
                    </div>
                    <div class="slide cardnew name8">
                        <img src="coordinators/satyakib.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="slider">
                <div class="slide-track slide-trackcb">
                    <div class="slide cardnew name9">
                        <img src="coordinators/anshuman.jpg" alt="">
                    </div>
                    <div class="slide cardnew name10">
                        <img src="coordinators/praujjawal.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name11">
                        <img src="coordinators/nishant.jpg" alt="">   
                    </div>
                    <div class="slide cardnew name12">
                        <img src="coordinators/ayanakhtar.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name13">
                        <img src="coordinators/mohd.armugansarwar.jpg" alt="">
                    </div>
        
        
                    <!-- ================================================ -->
        
                    <div class="slide cardnew name9">
                        <img src="coordinators/anshuman.jpg" alt="">
                    </div>
                    <div class="slide cardnew name10">
                        <img src="coordinators/praujjawal.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name11">
                        <img src="coordinators/nishant.jpg" alt="">   
                    </div>
                    <div class="slide cardnew name12">
                        <img src="coordinators/ayanakhtar.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name13">
                        <img src="coordinators/mohd.armugansarwar.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div id="webm" class=" webm">
            <div class="contentname">Web Team</div>
            <div class="cth">Core Team Head</div>
            <div class="slider">
                <div class="slide-track slide-trackwt">
                    <div class="slide cardnew name14">
                        <img src="heads/webteam/Bhagyashree.jpg" alt="">
                    </div>
                    <div class="slide cardnew name15">
                        <img src="heads/webteam/Ishwar.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name16">
                        <img src="heads/webteam/Pratusht.jpg" alt="">   
                    </div>
                    <div class="slide cardnew name17">
                        <img src="heads/webteam/Ravik.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name18">
                        <img src="heads/webteam/Utkarsh.jpeg" alt="">
                    </div>
            
                    <!-- ================================================ -->
        
                    <div class="slide cardnew name14">
                        <img src="heads/webteam/Bhagyashree.jpg" alt="">
                    </div>
                    <div class="slide cardnew name15">
                        <img src="heads/webteam/Ishwar.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name16">
                        <img src="heads/webteam/Pratusht.jpg" alt="">   
                    </div>
                    <div class="slide cardnew name17">
                        <img src="heads/webteam/Ravik.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name18">
                        <img src="heads/webteam/Utkarsh.jpeg" alt="">
                    </div>
                </div>
            </div>
            <div class="ctm">Core Team Member</div>
            <div class="slider">
                <div class="slide-track slide-trackwb">
                    <div class="slide cardnew name19">
                        <img src="ctms/webteam/aditya.jpg" alt="">
                    </div>
                    <div class="slide cardnew name20">
                        <img src="ctms/webteam/Abhijeet.png" alt="">  
                    </div>
                    <div class="slide cardnew name21">
                        <img src="ctms/webteam/RounakDas.jpeg" alt="">   
                    </div>
                    <div class="slide cardnew name22">
                        <img src="ctms/webteam/Likitha.jpg" alt="">  
                    </div>
        
        
                    <!-- ================================================ -->
        
                    <div class="slide cardnew name19 disablewb">
                        <img src="ctms/webteam/aditya.jpg" alt="">
                    </div>
                    <div class="slide cardnew name20 disablewb">
                        <img src="ctms/webteam/Abhijeet.png" alt="">  
                    </div>
                    <div class="slide cardnew name21 disablewb">
                        <img src="ctms/webteam/RounakDas.jpeg" alt="">   
                    </div>
                    <div class="slide cardnew name22 disablewb">
                        <img src="ctms/webteam/Likitha.jpg" alt="">  
                    </div>
                </div>
            </div>    
        </div>
        <div id="designm" class=" designm">
            <div class="contentname">Design Team</div>
            <div class="cth">Core Team Head</div>
            <div class="slider">
                <div class="slide-track slide-trackdt">
                    <div class=" slide cardnew name23 visibledt">
                        <img src="heads/designteam/Aayushi.jpeg" alt="">
                    </div>
                    <div class=" slide cardnew name24 visibledt">
                        <img src="heads/designteam/Deepthi.jpg" alt="">  
                    </div>
                    <div class=" slide cardnew name25 visibledt">
                        <img src="heads/designteam/Kunal.jpg" alt="">   
                    </div>
        
        
                    <!-- ================================================ -->
        
                    <div class=" slide cardnew name23 disabledt">
                        <img src="heads/designteam/Aayushi.jpeg" alt="">
                    </div>
                    <div class=" slide cardnew name24 disabledt">
                        <img src="heads/designteam/Deepthi.jpg" alt="">  
                    </div>
                    <div class=" slide cardnew name25 disabledt">
                        <img src="heads/designteam/Kunal.jpg" alt="">   
                    </div>
                </div>
            </div>   
            <div class="ctm">Core Team Member</div> 
            <div class="slider">
                <div class="slide-track slide-trackdb">
                    <div class=" slide cardnew name26 visibledt">
                        <img src="ctms/design/Naman.jpg" alt="">
                    </div>
                    <div class=" slide cardnew name27 visibledt">
                        <img src="ctms/design/Piyush.jpg" alt="">  
                    </div>
                    <div class=" slide cardnew name28 visibledt">
                        <img src="ctms/design/rachna.jpg" alt="">   
                    </div>
        
        
                    <!-- ================================================ -->
        
                    <div class=" slide cardnew name26 disabledt">
                        <img src="ctms/design/Naman.jpg" alt="">
                    </div>
                    <div class=" slide cardnew name27 disabledt">
                        <img src="ctms/design/Piyush.jpg" alt="">  
                    </div>
                    <div class=" slide cardnew name28 disabledt">
                        <img src="ctms/design/rachna.jpg" alt="">   
                    </div>
                </div>
            </div>    
        </div>
        <div id="publicitym" class="  publicitym ">
            <div class="contentname">Publicity Team</div>
            <div class="cth">Core Team Head</div>
            <div class="slider">
                <div class="slide-track slide-trackpt">
                    <div class="slide cardnew name29 visiblept">
                        <img src="heads/publiteam/Debabrata.jpeg" alt="">  
                    </div>
                    <div class="slide cardnew name30 visiblept">
                        <img src="heads/publiteam/kaushikee.jpeg" alt="">   
                    </div>
                    <div class="slide cardnew name31 visiblept">
                        <img src="heads/publiteam/sonu.jpg" alt="">  
                    </div>
        
        
                    <!-- ================================================ -->
        
                    <div class="slide cardnew name29 disabledt">
                        <img src="heads/publiteam/Debabrata.jpeg" alt="">
                    </div>
                    <div class="slide cardnew name30 disabledt">
                        <img src="heads/publiteam/kaushikee.jpeg" alt="">  
                    </div>
                    <div class="slide cardnew name31 disabledt">
                        <img src="heads/publiteam/sonu.jpg" alt="">   
                    </div>
                </div>
            </div>  
            <div class="ctm">Core Team Member</div> 
            <div class="slider">
                <div class="slide-track slide-trackpb">
                    <div class="slide cardnew name32">
                        <img src="ctms/publiteam/aditya.jpg" alt="">
                    </div>
                    <div class="slide cardnew name33">
                        <img src="ctms/publiteam/Challa.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name34">
                        <img src="ctms/publiteam/meghna.jpg" alt="">   
                    </div>
                    <div class="slide cardnew name35">
                        <img src="ctms/publiteam/Shivangi.jpg" alt="">  
                    </div>
        
        
                    <!-- ================================================ -->
        
                    <div class="slide cardnew name32 disablepb">
                        <img src="ctms/publiteam/aditya.jpg" alt="">
                    </div>
                    <div class="slide cardnew name33 disablepb">
                        <img src="ctms/publiteam/Challa.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name34 disablepb">
                        <img src="ctms/publiteam/meghna.jpg" alt="">   
                    </div>
                    <div class="slide cardnew name35 disablepb">
                        <img src="ctms/publiteam/Shivangi.jpg" alt="">  
                    </div>
                </div>
            </div>   
        </div>
        <div id="eventm" class=" eventm">
            <div class="contentname">Events Team</div>
            <div class="cth">Core Team Head</div>
            <div class="slider">
                <div class="slide-track slide-tracket">
                    <div class="slide cardnew name36 visibleet">
                        <img src="heads/eventsteam/Saiteja.jpeg" alt="">
                    </div>
                    <div class="slide cardnew name37 visibleet">
                        <img src="heads/eventsteam/shoaib.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name38 visibleet">
                        <img src="heads/eventsteam/Vivek.jpg" alt="">   
                    </div>
            
                    <!-- ================================================ -->
        
                    <div class="slide cardnew name36 disableet">
                        <img src="heads/eventsteam/Saiteja.jpeg" alt="">
                    </div>
                    <div class="slide cardnew name37 disableet">
                        <img src="heads/eventsteam/shoaib.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name38 disableet">
                        <img src="heads/eventsteam/Vivek.jpg" alt="">   
                    </div>
                </div>
            </div>
            <div class="ctm">Core Team Member</div>
            <div class="slider">
                <div class="slide-track slide-trackeb">
                    <div class="slide cardnew name40">
                        <img src="ctms/eventsteam/SharmaAdi.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name39">
                        <img src="ctms/eventsteam/Islavath.jpeg" alt="">
                    </div>
                    
        
                    <!-- ================================================ -->
        
                    <div class="slide cardnew name40 disablelt">
                        <img src="ctms/eventsteam/SharmaAdi.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name39 disablelt">
                        <img src="ctms/eventsteam/Islavath.jpeg" alt="">
                    </div>
                </div>
            </div>  
        </div>
        <div id="sponsm" class=" sponsm">
            <div class="contentname">Sponsorship and Marketing Team</div>
            <div class="cth">Core Team Head</div>
            <div class="slider">
                <div class="slide-track slide-trackwt">
                    <div class="slide cardnew name41">
                        <img src="heads/spons/Vaishnavi.jpg" alt="">
                    </div>
                    <div class="slide cardnew name42">
                        <img src="heads/spons/Jay.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name43">
                        <img src="heads/spons/lilesh.jpg" alt="">   
                    </div>
                    <div class="slide cardnew name44">
                        <img src="heads/spons/sheetanshu.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name45">
                        <img src="heads/spons/jahnavi.jpg" alt="">
                    </div>
            
                    <!-- ================================================ -->
        
                    <div class="slide cardnew name41">
                        <img src="heads/spons/Vaishnavi.jpg" alt="">
                    </div>
                    <div class="slide cardnew name42">
                        <img src="heads/spons/Jay.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name43">
                        <img src="heads/spons/lilesh.jpg" alt="">   
                    </div>
                    <div class="slide cardnew name44">
                        <img src="heads/spons/sheetanshu.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name45">
                        <img src="heads/spons/jahnavi.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="ctm">Core Team Member</div>
            <div class="slider">
                <div class="slide-track slide-trackdb">
                    <div class="slide cardnew name46">
                        <img src="ctms/spons/Harsh.jpg" alt="">
                    </div>
                    <div class="slide cardnew name47">
                        <img src="ctms/spons/Poojasaini.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name51">
                        <img src="ctms/spons/Sanyam.jpg" alt="">  
                    </div>
        
        
                    <!-- ================================================ -->
        
                    <div class="slide cardnew name46 disabledt">
                        <img src="ctms/spons/Harsh.jpg" alt="">
                    </div>
                    <div class="slide cardnew name47 disabledt">
                        <img src="ctms/spons/Poojasaini.jpg" alt="">  
                    </div>
                    <div class="slide cardnew name51 disabledt">
                        <img src="ctms/spons/Sanyam.jpg" alt="">  
                    </div>
                </div>
            </div>  
        </div>
        <div id="logisticm" class=" logisticm">
            <div class="contentname">Logistics Team</div>
            <div class="cth">Core Team Head</div>
            <div class="slider">
                <div class="slide-track slide-tracklt">
                    <div class="slide cardnew name48">
                        <img src="heads/logisticteam/Amansagar.jpg" alt="">
                    </div>
                    <div class="slide cardnew name49">
                        <img src="heads/logisticteam/Arunendra.jpg" alt="">  
                    </div>
            
                    <!-- ================================================ -->
        
                    <div class="slide cardnew name48 disablelt">
                        <img src="heads/logisticteam/Amansagar.jpg" alt="">
                    </div>
                    <div class="slide cardnew name49 disablelt">
                        <img src="heads/logisticteam/Arunendra.jpg" alt="">  
                    </div>
                </div>
            </div>
            <div class="ctm">Core Team Member</div>
            <div class="slider">
                <div class="slide cardnew name50">
                    <img src="ctms/logistic/anjana.jpg" alt="">
                </div>
            </div>  
        </div>
    </div>
    <script src="ourteam.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
</body>
</html>