@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

h1, h2, h3, h4, h5, h6{
    /* font-family: 'Julius Sans One', sans-serif; */
    font-family: 'Goldman', cursive;
    margin-bottom:20px;
  }

  .heading h1{
    font-family: 'MedievalSharp', cursive;
  }
  .container{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    z-index:2;
    height:80vh;
    display:block;
  }
  .sub-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    width: 100%;
    margin: auto;
  }
  .container .card{
    vertical-align:top;
    width:280px;
    height:380px;
    position:relative;
    margin:30px auto !important;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.8);
    border-radius:25px;
    background-color:rgba(40, 39, 39, 0.908);
    overflow:hidden;
    /* display:flex; */
    justify-content:center;
    align-items:center;
    backdrop-filter:blur(5px);
    text-align:center;
  }
  .card .content{
    padding:20px;
    transition:0.8s all ease;
    color:#ccc;
    transform:translateY(200px);
    opacity:0;
  }
  .card:hover .content{
    transform:translateY(0px);
    opacity:1;
  }
  .card img{
    position:absolute;
    /* filter: invert(82%) sepia(60%) saturate(2929%) hue-rotate(353deg) brightness(105%) contrast(103%); */
    width:270px;
    /* top:50px; */
    opacity:0.6;
    z-index:-1;
  }
.card h1{
  display: flex;
  flex-direction: row;
}
  .card img:hover{
    opacity: 0.3;
  }
  /* h1{
    color:#fff;
    text-align:center;
    z-index:9;
    position:relative;
    margin-bottom:-20px;
    padding-bottom:0;
    padding-top:20px;
    font-weight:400;
  } */

  h1{
    display: block;
  }


  .card .content h2{
    color:#fff;
    font-weight:400;
  }
  .card .content a{
    display:inline-block;
    margin-top:20px;
    text-decoration:none;
    padding:8px 30px 11px;
    border:2px solid #fff;
    text-transform:uppercase;
    color:#fff;
    border-radius:50px;
    box-shadow: 0px 5px 50px rgba(0,0,0,0.8);
    transition:0.8s all ease;
  }
  .card .content a:hover{
    background: #9C27B0;
  }
  
  
  
  @media only screen and (max-width:900px) {
    .container{
      display:block;
    }
  }


.spn-2021{
  display: none;
  margin-top: 10rem;
}

.spn-2023{
  display: none;
  margin-top: 10rem;
}

.spn-2022{
  /* display: none; */
  margin-top: 10rem;
}

@media(max-width: 375px){
  .spn-2021{
    margin-top: 25rem;
  }
  .spn-2022{
    margin-top: 25rem;
  }
  .spn-2023{
    margin-top: 25rem;
  }
}

.wrap {
	position: fixed;
  z-index: 20;
  width: 30%;
  top: 91%;
  left: 36%;
	width: 30%;
	height: 2px;
	
}


.scroll-indicator {
	display: block;
	position: absolute;
	left: 50%;
	margin-top: -18px;
	margin-left: -45px;
	top: 50%;
	width: 90px;
  font-size: 16px;
}

.scroll-indicator.off {
	opacity: 0;
	transition: 1s all;
	-moz-animation-play-state: paused;
	-webkit-animation-play-state: paused;
	-ms-animation-play-state: paused;
	animation-play-state: paused;
}

.scroll-indicator a {
	display: block;
	height: auto;
	width: 100%;
	text-align: center;
	color: #fff;
}

.scroll-indicator span {
	font-size: .8em;
	letter-spacing: .26em;
	text-align: center;
	display: block;
	opacity: 1;
	height: auto;
	width: 100%;
	position: absolute;
	bottom: -20px;
	padding-left: .26em;
	/* accounts for trailing space letter-space*/
}

.scrolldown-btn {
	width: 100%;
	height: auto;
	text-align: center;
	padding-bottom: 14px;
}


/* arrow*/

.scrolldown-btn::before {
	content: '\00a0';
	border-style: solid;
	border-width: 3px 2.5px 0 2.5px;
	border-color: #fff transparent transparent transparent;
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -1.5px;
	-webkit-transform: scale(5);
	-moz-transform: scale(5);
	-ms-transform: scale(5);
	transform-origin: scale(5);
	animation: arrow 11s ease-in-out infinite;
	animation-delay: 1s;
}


/* circle*/

.scrolldown-btn::after {
	content: "\00a0";
	background: #fff;
	border-radius: 50%;
	border: 1px solid #fff;
	display: block;
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 0;
	margin-left: -0px;
	margin-top: -0px;
	opacity: 0;
	width: 0px;
	height: 0px;
	animation: scrollit 11s ease-in-out infinite;
	animation-delay: 1s;
}


/*circle*/

a.scroll-down::before {
	content: "\00a0";
	background: transparent;
	border: .01px solid #fff;
	border-radius: 50%;
	display: block;
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 0;
	margin-left: -0px;
	margin-top: -0px;
	width: 0px;
	height: 0px;
	opacity: 0;
	animation: scrollit3 11s ease-in-out infinite;
	animation-delay: 1s;
}

@keyframes arrow {
	0% {
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		opacity: 0;
	}
	1% {
		opacity: .3;
	}
	5% {
		-webkit-transform: scale(10);
		-moz-transform: scale(10);
		-ms-transform: scale(10);
		transform: scale(10);
	}
	20% {
		transform: scale(10);
	}
	22% {
		transform: scale(11);
	}
	24% {
		transform: scale(10);
		opacity: .8;
	}
	34% {
		-webkit-transform: scale(10);
		-moz-transform: scale(10);
		-ms-transform: scale(10);
		transform: scale(10);
		opacity: .8;
	}
	40% {
		opacity: .4;
	}
	42% {
		-webkit-transform: scale(5);
		-moz-transform: scale(5);
		-ms-transform: scale(5);
		transform: scale(5);
		opacity: .3;
	}
	47% {
		opacity: .1;
	}
	93% {
		-webkit-transform: scale(5);
		-moz-transform: scale(5);
		-ms-transform: scale(5);
		transform: scale(5);
	}
	100% {
		opacity: .6;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	}
}

@keyframes scrollit {
	0% {
		opacity: 1;
		margin-left: -0px;
		margin-top: -0px;
	}
	10% {
		width: 70px;
		height: 70px;
		opacity: .05;
		margin-left: -35px;
		margin-top: -35px;
	}
	14% {
		opacity: 0;
	}
	16% {
		opacity: .05;
	}
	20% {
		width: 70px;
		height: 70px;
		opacity: .05;
		margin-left: -35px;
		margin-top: -35px;
	}
	31% {
		opacity: .4;
	}
	34% {
		width: 40px;
		height: 40px;
		opacity: 0;
		margin-left: -19.5px;
		margin-top: -19.5px;
	}
	40% {
		width: 0px;
		height: 0px;
		margin-left: -0px;
		margin-top: -0px;
	}
	49% {
		opacity: .0;
		margin-left: -0px;
		margin-top: -0px;
	}
	100% {
		opacity: .0;
	}
}

@keyframes scrollit3 {
	0% {
		opacity: 1;
		margin-left: -0px;
		margin-top: -0px;
	}
	15% {
		width: 90px;
		height: 90px;
		opacity: .05;
		margin-left: -45px;
		margin-top: -45px;
	}
	23% {
		opacity: 0;
	}
	29% {
		width: 90px;
		height: 90px;
		opacity: .05;
		margin-left: -45px;
		margin-top: -45px;
	}
	31% {
		opacity: .4;
	}
	33% {
		opacity: 0;
		width: 20px;
		height: 20px;
		margin-left: -10px;
		margin-top: -10px;
	}
	35% {
		width: 0px;
		height: 0px;
		opacity: 0;
		margin-left: -0px;
		margin-top: -0px;
	}
	47% {
		opacity: .0;
		margin-left: -0px;
		margin-top: -0px;
	}
	100% {
		opacity: .0;
	}
}


@-moz-keyframes elasticus {
  0% {
    transform: scale(1, 0);
    transform-origin: 0% 0%;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0% 0%;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0% 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0% 100%;
  }
}
@-webkit-keyframes elasticus {
  0% {
    transform: scale(1, 0);
    transform-origin: 0% 0%;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0% 0%;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0% 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0% 100%;
  }
}
@-o-keyframes elasticus {
  0% {
    transform: scale(1, 0);
    transform-origin: 0% 0%;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0% 0%;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0% 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0% 100%;
  }
}
@keyframes elasticus {
  0% {
    transform: scale(1, 0);
    transform-origin: 0% 0%;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0% 0%;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0% 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0% 100%;
  }
}


